.header {
  background-color: rgb(28, 136, 118);
  color: rgb(211, 211, 211);

  &-article {
    padding: 10px;
    font-size: 20px;
  }
}

.container {
  padding: 10px;
  max-width: 980px;
  margin: auto;
  display: flex;
  justify-content: space-between
}
