.currency-section {
  padding: 200px 0;
}

.currency-form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: auto;
  background: #ffffff;
  padding: 50px;
  border-radius: 5px;
}
